@import url("pages.css");

header {
    background-image: url("../images/lambda_header.png");
    background-size: cover;
}

header img {
    width: 100px;
    height: 100px;
}

header h1 {
    color: #fff;
}

.contents h2 {
    color: #000080;
}

.description {
    margin: 10px;
    text-align: left;
}

.bingo {
    border: 1px solid #72777D;
    width: 48%;
    height: 300px;
    margin: 1%;
    float: left;
}

.Lambda2 {
    border: 1px solid #72777D;
    width: 48%;
    height: 300px;
    margin: 1%;
    float: right;
}

