@import url("pages.css");

header {
    background-image: url("../images/profile_header.png");
    background-size: cover;
}

header img {
    width: 150px;
    height: 150px;
}

header h1 {
    color: #fff;
    margin: auto;
}

.contents {
    text-align: left;
    padding: 30px;
}

.contents h2 {
    margin: 50px auto 30px auto;
}

.item {
    margin: 10px 30px 50px 30px;
}

.item h4 {
    color: #ff0000;
}

.item p {
    margin-left: 20px;
    color: #000;
}